@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

@layer base {
  :root {
    --background: 35 50% 98%;
    --foreground: 20 25% 12%;
    --primary: 16 100% 66%;
    --primary-foreground: 0 0% 100%;
    --accent: 28 80% 90%;
    --muted: 33 45% 93%;
    --border: 20 25% 12%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 25% 8%;
    --foreground: 33 45% 93%;
    --primary: 16 100% 70%;
    --primary-foreground: 0 0% 100%;
    --accent: 20 25% 18%;
    --muted: 20 25% 12%;
    --border: 33 45% 93%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  html {
    scroll-behavior: smooth;
  }
}

